body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 24px;
}

.Bar{
    padding-left: 160px;
    gap: 15px;
}

.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cta {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.hero input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.showcase {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

